In [1]:
#

In [2]:
# Question_1 : explain the key features of python that makes it a popular choice for programming  .

In [3]:
# Question_2 : describe the role of predefined keywords in python and provide examples of how they are used in programm .

In [4]:
# Example :

print (" Hellow world !!! ") # here print is a keyword

 Hellow world !!!

In [5]:
# Example :


a=7 # a is as a variable 

a

7

In [6]:
# Question_3 : compare and  contrast mutable and immutable objects in python with examples .

In [7]:
# Example of mutable 


lis =[ "moulika", "shivani" , "minu" , "rinku" ] # lis is a list 


lis

['moulika', 'shivani', 'minu', 'rinku']

In [8]:
lis [0] = " patil " # list is a mutable because after creation that will be change 


lis

[' patil ', 'shivani', 'minu', 'rinku']

In [9]:
# Example of immutable 

str1 = " Moulika Patil " # str1 is a string 


str1

' Moulika Patil '

In [10]:
str1 [0] = "N" # string is a immutable because after creation will be not change string 


str1           # it will be give error

TypeError: 'str' object does not support item assignment

In [11]:
# Question_4 : Disscuss the different types of operators in python and provide examples of how thwy are used .

In [12]:
# Example : 

# arithmatic operator example :

a = 7 
b = 5 


print (a+b) 

print (a-b) 

print (a*b)  

print (a/b) 

print (a//b) 

print (a%b)

12
2
35
1.4
1
2

In [19]:
# comparsion operator 

name = "Moulika Patil"

if name == "Moulika Patil" :  # comparsion operator ==
    
    print ("Valid Name")
    
else : 
    
    print ( "Not Valid Name")

Valid Name

In [20]:
  
    # logical operators (and ,or,not)
    True and True

True

In [21]:

  True or False

True

In [22]:
(not True)

False

In [23]:
  
  #  assigment operators (= , += , -= , *= , /=)

  a = 7 
  
  a

7

In [24]:
a+=6

a

13

In [25]:
a-= 4

a

9

In [27]:
a*= 3

a

27

In [28]:
a/= 8

a

3.375

In [29]:
a//= 5

a

0.0

In [30]:
a%= 7

a

0.0

In [34]:
# Member ship operator 

lis = ["moulika", "shivani" , "minu" , "rinku"]

"moulika" in lis

True

In [35]:
"moulika" not in lis

False

In [36]:
# Question_5 : explain the concept of python with example .

In [37]:
# Exammple of Type casting 

a=7 

type (a)

int

In [38]:
name = "Moulika Patil" 

type  (name)

str

In [39]:
num = 4.7

type (num)

float

In [40]:
lis = [ 3,4,5,2.4, "Moulika Patil", 29 ]

type (lis)

list

In [42]:
tup = (3,4,5,2.4, "Moulika Patil")

type (tup)

tuple

In [43]:
  
    # type casting >> conversion one data type to another data type 
    
    # integre to string 
    
    a= 7 
    
    print (type (str(a)))

<class 'str'>

In [44]:
  
    # integer to float 
    
    a= 7 
    
    print (type (float(a)))

<class 'float'>

In [46]:
  
    # list to tuple
    
    lis = [3,4,5.4,"Moulika"] 
    
    print(type(tuple(lis)))

<class 'tuple'>

In [54]:
# Question_6 : how do conditional statement work in python? illustrate with example .

In [22]:
# Example :

# if statement 

grade = 5 

co_cirr=True 

if ((grade >= 5) and (co_cirr == True)): 

    print ("you are all rounder")

you are all rounder

In [23]:
# if- else statement 
email="moulikapatil1@gmail.com"
if "@" in email : 
    print ("Valid Email") 
else :
    print ("Not Valid Email")

Valid Email

In [1]:
# if-elif-else statement 

a = 5000

if a<300 : 
    
    print ("this block will be executed if a is lesser than 300")
    
elif a>4000 :
    
    print ("The number is huge")
    
elif a>300 :
    
    print ("This block will be execute if a is greater than 300")
    
else :
    
    print ("The number is equal to 300")

The number is huge

In [5]:
# nested if else 
x=7

y=7 

if x > 6:
    if y > 6 :
        
        print ("Both x and y is greater than 6")
        
    else :
        
        print ("x is a greater than 6 but y is less than 6 ")
        
        
else :        
        
    print ("x is not greater than 6")

Both x and y is greater than 6

In [1]:
# Question_7 : Describe the different types of loop in python and their use cases with examples.

In [2]:
# Example of for loop 
# print the even number 
print ("print the enen number = ")
for i in range (1,30) :
    if i%2==0 :
        print (f"Even Number = {i}. ")
# print the odd number 
print ("print the odd number = ")
for i in range (1,30) :
    if i%2!=0:
        print (f"Odd Number ={i}. ")

print the enen number =
Even Number = 2.
Even Number = 4.
Even Number = 6.
Even Number = 8.
Even Number = 10.
Even Number = 12.
Even Number = 14.
Even Number = 16.
Even Number = 18.
Even Number = 20.
Even Number = 22.
Even Number = 24.
Even Number = 26.
Even Number = 28.
print the odd number =
Odd Number =1.
Odd Number =3.
Odd Number =5.
Odd Number =7.
Odd Number =9.
Odd Number =11.
Odd Number =13.
Odd Number =15.
Odd Number =17.
Odd Number =19.
Odd Number =21.
Odd Number =23.
Odd Number =25.
Odd Number =27.
Odd Number =29.

In [2]:
# Example of for loop 
# print the even number 
print ("print the enen number = ")
for i in range (1,30) :
    if i%2==0 :
        print (f"Even Number = {i}. ")
# print the odd number 
print ("print the odd number = ")
for i in range (1,30) :
    if i%2!=0:
        print (f"Odd Number ={i}. ")

print the enen number =
Even Number = 2.
Even Number = 4.
Even Number = 6.
Even Number = 8.
Even Number = 10.
Even Number = 12.
Even Number = 14.
Even Number = 16.
Even Number = 18.
Even Number = 20.
Even Number = 22.
Even Number = 24.
Even Number = 26.
Even Number = 28.
print the odd number =
Odd Number =1.
Odd Number =3.
Odd Number =5.
Odd Number =7.
Odd Number =9.
Odd Number =11.
Odd Number =13.
Odd Number =15.
Odd Number =17.
Odd Number =19.
Odd Number =21.
Odd Number =23.
Odd Number =25.
Odd Number =27.
Odd Number =29.

In [13]:
# Example of break statemment 
# pritn the even number 
print("print the enen number= ")
for i in range (1,30):
    if i%2==0:
        print (f"Even Number = {i}. ")
        break 
# print the odd nummber
print ("print the Odd number= ")
for i in range (1,30):
    if i%2!=0:
        print (f"Odd Number = {i}. ")
        break

print the enen number=
Even Number = 2.
print the Odd number=
Odd Number = 1.

In [1]:
# while loop example

count = 7

while count > 0:
    
    print (count)
    
    count=count-1

7
6
5
4
3
2
1

In [1]:
# Example of break statement 
# pritn the even number 
print("print the enen number= ")
for i in range (1,30):
    if i%2==0:
        if i==3:
            continue 
            
        print (f"Even Number = {i}. ")
         
# print the odd nummber
print ("print the Odd number= ")
for i in range (1,30):
    if i%2!=0:
        if i==4:
            continue
        print (f"Odd Number = {i}. ")

print the enen number=
Even Number = 2.
Even Number = 4.
Even Number = 6.
Even Number = 8.
Even Number = 10.
Even Number = 12.
Even Number = 14.
Even Number = 16.
Even Number = 18.
Even Number = 20.
Even Number = 22.
Even Number = 24.
Even Number = 26.
Even Number = 28.
print the Odd number=
Odd Number = 1.
Odd Number = 3.
Odd Number = 5.
Odd Number = 7.
Odd Number = 9.
Odd Number = 11.
Odd Number = 13.
Odd Number = 15.
Odd Number = 17.
Odd Number = 19.
Odd Number = 21.
Odd Number = 23.
Odd Number = 25.
Odd Number = 27.
Odd Number = 29.